footer
  div.container
     ul.columnar
       li
         h3 You Need Help
         ul.links
           li
             a(href="https://docs.npmjs.com") Documentation
           li
             a(href="/support") Support / Contact Us
           li
             a(href="http://status.npmjs.org/?__hstc=72727564.51e8723765e7d803bb663b66696f0cb5.1445011193415.1450485312637.1450535597317.84&amp;__hssc=72727564.2.1450535597317&amp;__hsfp=1650683683") Registry Status
           li
             a(href="https://github.com/npm/newww/issues") Website Issues
           li
             a(href="https://github.com/npm/npm/issues") CLI Issues
           li
             a(href="https://www.npmjs.com/security") Security
       li
         h3 About npm
         ul.links
           li
             a(href="https://www.npmjs.com/about") About npm, Inc
           li
             a(href="https://www.npmjs.com/jobs") Jobs
           li
             a(href="https://www.npmjs.com/npm-weekly") npm Weekly
           li
             a(href="http://blog.npmjs.org/?__hstc=72727564.51e8723765e7d803bb663b66696f0cb5.1445011193415.1450485312637.1450535597317.84&amp;__hssc=72727564.2.1450535597317&amp;__hsfp=1650683683") Blog
           li
             a(href="https://twitter.com/npmjs") Twitter
           li
             a(href="https://github.com/npm") GitHub
       li
         h3 Legal Stuff
         ul.links
           li
             a(href="https://www.npmjs.com/policies/terms") Terms of Use
           li
             a(href="https://www.npmjs.com/policies/conduct") Code of Conduct
           li
             a(href="https://www.npmjs.com/policies/disputes") Package Name Disputes
           li
             a(href="https://www.npmjs.com/policies/privacy") Privacy Policy
           li
             a(href="https://www.npmjs.com/policies/receiving-reports") Reporting Abuse
           li
             a(href="https://www.npmjs.com/policies/") Other policies
  div.container.centered
    a(href="/" id="npm-loves-you" class="active") npm loves you
