nav
  div.container
    a(href="/") npm Documentation
    a(href="http://www.npmjs.com/on-site") npm On-Site
    a(href="https://www.npmjs.com/private-packages") npm Private Packages
    a(href="https://www.npmjs.com/open-source") npm Open Source
    a(href="https://www.npmjs.com/support") support
