extends ./layout

block content
  div.centered
    h1#jumbo these are the docs you are looking for
  div
    include ./partials/calls-to-action/opensource
  div
    h2.centered.ruled guides
    ul.links.columnar
      for guide in data
        li
          a(href=version_info.version + "/" + guide)!= guide
