doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="/styles/index.min.css")
    link(rel="stylesheet" href="/styles/custom.css")
  body
    include ./partials/nav
    div.container.content
      block content
    include ./partials/footer
